/*VARIABLES*/
.style-texte {
  margin-bottom: 100px;
  text-align: right;
}
.style-texte h3 {
  padding-top: 25px;
  text-align: center;
}
.style-texte .paragraphe {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}
.style-texte .paragraphe p {
  padding-top: 20px;
  line-height: 20px;
  margin: 10px;
  width: calc(50% - 20px);
  text-align: left;
}
.style-texte a {
  background-color: #bfa994;
  color: #8b5c4a;
  padding: 15px 15px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.5s;
}
.style-texte a:hover {
  background-color: #8b5c4a;
  color: #f2e7dc;
}
.style-resp {
  margin-bottom: 30px;
}
.style-resp h3 {
  padding: inherit;
}
.style-resp .paragraphe {
  text-align: left;
}
.style-resp .paragraphe p:nth-of-type(1) {
  float: inherit;
  width: 100%;
}
.style-resp .paragraphe p:nth-of-type(2) {
  float: inherit;
  width: 100%;
}
.style-resp .paragraphe a {
  font-size: 14px;
  padding: 10px 5px;
}
.style-img-resp {
  width: 90%;
  margin: 20px auto;
}
.style-img-resp h3 {
  margin: inherit;
  text-align: center;
}
.style-img-resp img {
  width: 100%;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
/*FONT FAMILY*/
@font-face {
  font-family: 'Corbel';
  src: url(../fonts/corbel.ttf);
}
/*RECURRENT*/
body {
  background-color: #f2e7dc;
  color: #8b5c4a;
  font-family: 'Corbel', sans-serif;
}
.center {
  width: 960px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
h1 {
  bottom: -350px;
  left: 45px;
  font-size: 48px;
  font-weight: bold;
  color: #f2e7dc;
  position: relative;
  display: inline-block;
}
h1:before {
  content: '\f10d';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  font-size: 20px;
  top: -10px;
  left: -20px;
  position: absolute;
}
h1:after {
  content: '\f10e';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  font-size: 20px;
  bottom: -10px;
  left: 455px;
  position: absolute;
}
h2 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #bfa994;
  padding: 60px 0;
}
h3 {
  text-transform: uppercase;
  font-size: 30px;
}
h4 {
  font-weight: bold;
  color: #bfa994;
  margin-bottom: 20px;
}
p {
  color: #8b5c4a;
}
/*PRESENTATION*/
.presentation {
  background-color: #260b01;
  padding: 25px;
}
.presentation .center {
  display: flex;
  width: 100%;
  justify-content: center;
}
.presentation .center .logo {
  width: 20%;
}
.presentation .center .logo img {
  height: 150px;
}
.presentation .center .contenu {
  /*BURGUER*/
  /*NAVBAR*/
}
.presentation .center .contenu .burger {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background-color: rgba(38, 11, 1, 0.8);
  z-index: 9999;
  cursor: pointer;
}
.presentation .center .contenu .burger span {
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
.presentation .center .contenu .burger span:before,
.presentation .center .contenu .burger span:after {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.presentation .center .contenu .burger span:before {
  top: -10px;
}
.presentation .center .contenu .burger span:after {
  top: 10px;
}
.presentation .center .contenu .nav nav {
  float: right;
  width: 80%;
}
.presentation .center .contenu .nav nav ul {
  font-size: 0;
}
.presentation .center .contenu .nav nav ul li {
  font-size: 16px;
  display: inline-block;
  text-align: center;
}
.presentation .center .contenu .nav nav ul li a {
  color: #f2e7dc;
  font-size: 14px;
  text-transform: uppercase;
  padding: 25px;
  display: block;
}
.presentation .center .contenu .nav-produit {
  width: 100%;
}
.presentation .center .contenu .nav-produit ul {
  font-size: 0;
}
.presentation .center .contenu .nav-produit ul li {
  font-size: 16px;
  display: inline-block;
  text-align: center;
}
.presentation .center .contenu .nav-produit ul li a {
  color: #8b5c4a;
  text-transform: uppercase;
  font-size: 24px;
  display: block;
  padding: 25px;
}
/*HEADER*/
header {
  background: url(../img/bg-header.jpg) no-repeat;
  height: 882px;
  padding-left: 5px;
  background-size: cover;
}
header .mots p {
  color: #f2e7dc;
}
header .mots p:first-child {
  padding: 140px 0 0 110px;
  font-size: 60px;
}
header .mots p:nth-child(2) {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  padding: 0 0 0 180px;
}
header .mots p:nth-child(3) {
  text-transform: uppercase;
  font-size: 60px;
  padding: 0 0 0 105px;
}
header .mots p:nth-child(4) {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding: 0 0 0 290px;
}
/*SECTION PARCOURIR*/
.parcourir {
  /*AGENDAS*/
  /*CARNET*/
  /*STYLO*/
  /*LIVRE*/
}
.parcourir .agendas {
  width: 750px;
  margin: 30px auto;
}
.parcourir .agendas h3 {
  margin: 20px 0;
  text-align: center;
}
.parcourir .agendas img {
  width: 100%;
  margin: 0 auto 40px;
}
.parcourir .agendas .slide {
  display: flex;
  justify-content: center;
}
.parcourir .agendas .slide span {
  width: 50px;
  height: 5px;
  display: block;
  margin: 20px 5px;
  cursor: pointer;
  z-index: 2;
}
.parcourir .agendas .slide span.active {
  transform: scale(1.2);
}
.parcourir .agendas .slide span.yellow {
  background-color: #da9657;
}
.parcourir .agendas .slide span.red {
  background-color: #e27a6b;
}
.parcourir .agendas .slide span.blue {
  background-color: #70a6b1;
}
.parcourir .agendas .slide span.kaki {
  background-color: #ba9f81;
}
.parcourir .agendas .texte {
  margin-bottom: 100px;
  text-align: right;
}
.parcourir .agendas .texte h3 {
  padding-top: 25px;
  text-align: center;
}
.parcourir .agendas .texte .paragraphe {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}
.parcourir .agendas .texte .paragraphe p {
  padding-top: 20px;
  line-height: 20px;
  margin: 10px;
  width: calc(50% - 20px);
  text-align: left;
}
.parcourir .agendas .texte a {
  background-color: #bfa994;
  color: #8b5c4a;
  padding: 15px 15px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.5s;
}
.parcourir .agendas .texte a:hover {
  background-color: #8b5c4a;
  color: #f2e7dc;
}
.parcourir .carnet {
  width: 750px;
  margin: 30px auto;
}
.parcourir .carnet h3 {
  margin: 20px 0;
  text-align: center;
}
.parcourir .carnet img {
  width: 100%;
  margin: 0 auto 40px;
}
.parcourir .carnet .slide {
  display: flex;
  justify-content: center;
}
.parcourir .carnet .slide span {
  width: 50px;
  height: 5px;
  display: block;
  margin: 20px 5px;
  cursor: pointer;
  z-index: 2;
}
.parcourir .carnet .slide span.active {
  transform: scale(1.2);
}
.parcourir .carnet .slide span.vert {
  background-color: darkgreen;
}
.parcourir .carnet .slide span.red {
  background-color: #260b01;
}
.parcourir .carnet .slide span.blue {
  background-color: #031320;
}
.parcourir .carnet .slide span.kaki {
  background-color: #201900;
}
.parcourir .carnet .texte {
  margin-bottom: 100px;
  text-align: right;
}
.parcourir .carnet .texte h3 {
  padding-top: 25px;
  text-align: center;
}
.parcourir .carnet .texte .paragraphe {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}
.parcourir .carnet .texte .paragraphe p {
  padding-top: 20px;
  line-height: 20px;
  margin: 10px;
  width: calc(50% - 20px);
  text-align: left;
}
.parcourir .carnet .texte a {
  background-color: #bfa994;
  color: #8b5c4a;
  padding: 15px 15px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.5s;
}
.parcourir .carnet .texte a:hover {
  background-color: #8b5c4a;
  color: #f2e7dc;
}
.parcourir .stylo {
  width: 750px;
  margin: 30px auto;
}
.parcourir .stylo h3 {
  margin: 20px 0;
  text-align: center;
}
.parcourir .stylo img {
  width: 100%;
  margin: 0 auto 40px;
}
.parcourir .stylo .slide {
  display: flex;
  justify-content: center;
}
.parcourir .stylo .slide span {
  width: 50px;
  height: 5px;
  display: block;
  margin: 20px 5px;
  cursor: pointer;
  z-index: 2;
}
.parcourir .stylo .slide span.active {
  transform: scale(1.2);
}
.parcourir .stylo .slide span.orange {
  background-color: #976212;
}
.parcourir .stylo .slide span.red {
  background-color: #80121f;
}
.parcourir .stylo .slide span.blue {
  background-color: #031320;
}
.parcourir .stylo .slide span.vert {
  background-color: #103919;
}
.parcourir .stylo .texte {
  margin-bottom: 100px;
  text-align: right;
}
.parcourir .stylo .texte h3 {
  padding-top: 25px;
  text-align: center;
}
.parcourir .stylo .texte .paragraphe {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}
.parcourir .stylo .texte .paragraphe p {
  padding-top: 20px;
  line-height: 20px;
  margin: 10px;
  width: calc(50% - 20px);
  text-align: left;
}
.parcourir .stylo .texte a {
  background-color: #bfa994;
  color: #8b5c4a;
  padding: 15px 15px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.5s;
}
.parcourir .stylo .texte a:hover {
  background-color: #8b5c4a;
  color: #f2e7dc;
}
.parcourir .livre {
  width: 750px;
  margin: 30px auto;
}
.parcourir .livre h3 {
  margin: 20px 0;
  text-align: center;
}
.parcourir .livre img {
  width: 100%;
  margin: 0 auto 40px;
}
.parcourir .livre .slide {
  display: flex;
  justify-content: center;
}
.parcourir .livre .slide span {
  width: 50px;
  height: 5px;
  display: block;
  margin: 20px 5px;
  cursor: pointer;
  z-index: 2;
}
.parcourir .livre .slide span.active {
  transform: scale(1.2);
}
.parcourir .livre .slide span.red {
  background-color: #260b01;
}
.parcourir .livre .slide span.blue {
  background-color: #253542;
}
.parcourir .livre .slide span.vert {
  background-color: #375442;
}
.parcourir .livre .slide span.kaki {
  background-color: #535321;
}
.parcourir .livre .texte {
  margin-bottom: 100px;
  text-align: right;
}
.parcourir .livre .texte h3 {
  padding-top: 25px;
  text-align: center;
}
.parcourir .livre .texte .paragraphe {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}
.parcourir .livre .texte .paragraphe p {
  padding-top: 20px;
  line-height: 20px;
  margin: 10px;
  width: calc(50% - 20px);
  text-align: left;
}
.parcourir .livre .texte a {
  background-color: #bfa994;
  color: #8b5c4a;
  padding: 15px 15px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.5s;
}
.parcourir .livre .texte a:hover {
  background-color: #8b5c4a;
  color: #f2e7dc;
}
/* CARNET DE VOYAGE*/
.carnet .center {
  padding: 30px 0 60px;
  display: flex;
  flex-wrap: wrap;
}
.carnet .center img {
  width: calc(50% - 10px);
  margin: 5px;
}
.carnet .center .texte {
  width: calc(50% - 10px);
  margin: 5px;
  background-image: url(../img/pattern.png);
  background-attachment: fixed;
  background-size: 410px;
}
.carnet .center .texte h3 {
  padding: 10px;
  margin-bottom: 20px;
}
.carnet .center .texte p {
  padding: 10px;
  line-height: 20px;
}
/*PAGE MENTION LEGALE*/
section.mentions {
  padding: 100px;
}
section.mentions h3 {
  font-size: 3rem;
  margin-bottom: 50px;
}
section.mentions h4 {
  font-size: 2rem;
  margin: 30px 0;
}
section.mentions h5 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
section.mentions p {
  line-height: 30px;
  margin-bottom: 20px;
}
section.mentions li {
  list-style: none;
  padding: 10px 0;
}
section.mentions li a {
  color: #bfa994;
  font-size: 16px;
}
/*FOOTER*/
footer {
  background-color: #260b01;
}
footer .contenu {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}
footer .contenu .left {
  padding: 50px 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
footer .contenu .left ul {
  font-size: 0;
  list-style: none;
}
footer .contenu .left ul li {
  font-size: 16px;
}
footer .contenu .left ul li a {
  color: #8b5c4a;
}
footer .contenu .right {
  width: 20%;
  padding: 50px 0;
}
footer .contenu .right .newsletter {
  margin-bottom: 20px;
  text-align: right;
}
footer .contenu .right .newsletter form input {
  float: right;
}
footer .contenu .right .reseaux {
  text-align: right;
}
footer .contenu .right .reseaux i {
  color: #bfa994;
  padding: 10px;
}
footer .lien p {
  text-align: center;
  color: #8b5c4a;
  padding-bottom: 10px;
  font-size: 12px;
}
footer .lien p a {
  color: #8b5c4a;
  cursor: pointer;
  transition: all 0.3s;
}
footer .lien p a:hover {
  color: #bfa994;
}
/* SCROLLTOP*/
a#scrolltop {
  font-size: 40px;
  position: fixed;
  bottom: 150px;
  left: 40px;
  color: #8b5c4a;
  transition: bottom 0.4s, color 0.4s;
  display: none;
}
a#scrolltop:hover {
  transform: scale(0.9);
}
/*------------------------------- MEDIA QUERY 960px -----------------------------*/
@media screen and (max-width: 960px) {
  /*------------RECURRENT---------------------*/
  .center {
    width: 600px;
    padding: 0 10px;
  }
  /*NAV-PRODUIT*/
  .presentation .center .contenu .nav nav {
    width: 86%;
  }
  .presentation .center .contenu .nav nav ul li a {
    padding: 15px;
  }
  .presentation .center .contenu .nav-produit ul li a {
    font-size: 20px;
    padding: 15px;
  }
  /*HEADER*/
  header {
    background-position: center;
  }
  header .mots p:first-child {
    padding: 5px 0 0 70px;
  }
  header .mots p:nth-child(2) {
    padding: 0 0 0 150px;
  }
  header .mots p:nth-child(3) {
    padding: 0 0 0 230px;
  }
  header .mots p:nth-child(4) {
    padding: 0 0 0 315px;
  }
  header .citation h1 {
    text-align: center;
    left: inherit;
    bottom: -270px;
    margin-left: 20px;
  }
  header .citation h1:before {
    top: -10px;
    left: -20px;
  }
  header .citation h1:after {
    right: -20px;
    bottom: -10px;
    left: inherit;
  }
  /*CARNET DE VOYAGE*/
  .carnet .center {
    margin: 30px auto;
  }
  .carnet .center img {
    width: 100%;
  }
  .carnet .center .texte {
    width: 100%;
  }
  .carnet .center .texte h3 {
    margin: 20px 0;
    text-align: center;
  }
  .carnet .center .texte .paragraphe {
    display: flex;
  }
  .carnet .center .texte .paragraphe p:nth-of-type(1) {
    width: 50%;
  }
  .carnet .center .texte .paragraphe p:nth-of-type(2) {
    width: 50%;
  }
  /*FOOTER*/
  footer .contenu {
    flex-wrap: wrap;
  }
  footer .contenu .left {
    width: 100%;
  }
  footer .contenu .right {
    width: 100%;
    padding: 0;
  }
}
/*------------------------------- MEDIA QUERY 768px -----------------------------*/
@media screen and (max-width: 768px) {
  /*------------RECURRENT---------------------*/
  .center {
    width: 600px;
  }
  /*PRESENTATION*/
  .presentation .center {
    display: flex;
    justify-content: space-around;
  }
  .presentation .center .logo img {
    width: 100%;
    margin: 10px 0;
  }
  .presentation .center .contenu {
    /*NAVBAR*/
    /*-----------------------BURGER---------------------------*/
    /*NAVBAR - PRODUIT*/
  }
  .presentation .center .contenu .nav {
    margin: auto 0;
    float: inherit;
    line-height: 5rem;
  }
  .presentation .center .contenu .nav nav {
    width: 100%;
  }
  .presentation .center .contenu .nav nav ul li:nth-of-type(1),
  .presentation .center .contenu .nav nav ul li:nth-of-type(2),
  .presentation .center .contenu .nav nav ul li:nth-of-type(3),
  .presentation .center .contenu .nav nav ul li:nth-of-type(4) {
    display: none;
  }
  .presentation .center .contenu .nav nav ul li a {
    font-size: 25px;
  }
  .presentation .center .contenu div.burger {
    display: block;
  }
  .presentation .center .contenu div.burger.burger-open span {
    background-color: transparent;
  }
  .presentation .center .contenu div.burger.burger-open span:before {
    transform: rotate(45deg);
    top: 0;
  }
  .presentation .center .contenu div.burger.burger-open span:after {
    transform: rotate(-45deg);
    top: 0;
  }
  .presentation .center .contenu .nav-produit {
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(38, 11, 1, 0.9);
    transform: translateX(100%);
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  .presentation .center .contenu .nav-produit.is-open {
    transform: translateX(0);
  }
  .presentation .center .contenu .nav-produit ul {
    width: 100%;
  }
  .presentation .center .contenu .nav-produit ul li {
    display: block;
    text-align: right;
  }
  .presentation .center .contenu .nav-produit ul li a {
    font-size: 22px;
    padding: 30px 20px;
    color: #f2e7dc;
  }
  /*HEADER*/
  header {
    max-width: 100%;
  }
  header .mots p:first-child {
    padding: 5px 0 0 20px;
  }
  header .mots p:nth-child(2) {
    padding: 0 0 0 75px;
  }
  header .mots p:nth-child(3) {
    padding: 0 0 0 35px;
  }
  header .mots p:nth-child(4) {
    padding: 0 0 0 220px;
  }
  header .citation h1:before {
    left: -20px;
  }
  header .citation h1:after {
    right: -20px;
  }
  /*SECTION PARCOURIR*/
  .parcourir {
    /*AGENDAS*/
    /*CARNETS*/
    /*STYLOS*/
    /*LIVRES*/
  }
  .parcourir .agendas {
    width: 600px;
  }
  .parcourir .carnet {
    width: 600px;
  }
  .parcourir .stylo {
    width: 600px;
  }
  .parcourir .livre {
    width: 600px;
  }
  /*FOOTER*/
  footer .contenu .left {
    padding: 30px 5px;
  }
  /* SCROLLTOP*/
  a#scrolltop {
    bottom: 110px;
  }
}
/*------------------------------- MEDIA QUERY 620px -----------------------------*/
@media screen and (max-width: 768px) {
  /*------------RECURRENT---------------------*/
  .center {
    width: 100%;
    padding: inherit;
  }
  /*PRESENTATION*/
  .presentation {
    padding: inherit;
  }
  .presentation .center .contenu {
    /*NAVBAR*/
  }
  .presentation .center .contenu .nav {
    line-height: 7rem;
  }
  .presentation .center .contenu .nav nav ul li a {
    font-size: 25px;
  }
  /*SECTION PARCOURIR*/
  .parcourir {
    /*AGENDAS*/
    /*CARNET*/
    /*STYLOS*/
    /*LIVRES*/
  }
  .parcourir .agendas {
    width: 90%;
    margin: 20px auto;
  }
  .parcourir .agendas h3 {
    margin: inherit;
    text-align: center;
  }
  .parcourir .agendas img {
    width: 100%;
    margin: 0 auto;
  }
  .parcourir .agendas .texte {
    margin-bottom: 30px;
  }
  .parcourir .agendas .texte h3 {
    padding: inherit;
  }
  .parcourir .agendas .texte .paragraphe {
    text-align: left;
  }
  .parcourir .agendas .texte .paragraphe p:nth-of-type(1) {
    float: inherit;
    width: 100%;
  }
  .parcourir .agendas .texte .paragraphe p:nth-of-type(2) {
    float: inherit;
    width: 100%;
  }
  .parcourir .agendas .texte .paragraphe a {
    font-size: 14px;
    padding: 10px 5px;
  }
  .parcourir .carnet {
    width: 90%;
    margin: 20px auto;
  }
  .parcourir .carnet h3 {
    margin: inherit;
    text-align: center;
  }
  .parcourir .carnet img {
    width: 100%;
    margin: 0 auto;
  }
  .parcourir .carnet .texte {
    margin-bottom: 30px;
  }
  .parcourir .carnet .texte h3 {
    padding: inherit;
  }
  .parcourir .carnet .texte .paragraphe {
    text-align: left;
  }
  .parcourir .carnet .texte .paragraphe p:nth-of-type(1) {
    float: inherit;
    width: 100%;
  }
  .parcourir .carnet .texte .paragraphe p:nth-of-type(2) {
    float: inherit;
    width: 100%;
  }
  .parcourir .carnet .texte .paragraphe a {
    font-size: 14px;
    padding: 10px 5px;
  }
  .parcourir .stylo {
    width: 90%;
    margin: 20px auto;
  }
  .parcourir .stylo h3 {
    margin: inherit;
    text-align: center;
  }
  .parcourir .stylo img {
    width: 100%;
    margin: 0 auto;
  }
  .parcourir .stylo .texte {
    margin-bottom: 30px;
  }
  .parcourir .stylo .texte h3 {
    padding: inherit;
  }
  .parcourir .stylo .texte .paragraphe {
    text-align: left;
  }
  .parcourir .stylo .texte .paragraphe p:nth-of-type(1) {
    float: inherit;
    width: 100%;
  }
  .parcourir .stylo .texte .paragraphe p:nth-of-type(2) {
    float: inherit;
    width: 100%;
  }
  .parcourir .stylo .texte .paragraphe a {
    font-size: 14px;
    padding: 10px 5px;
  }
  .parcourir .livre {
    width: 90%;
    margin: 20px auto;
  }
  .parcourir .livre h3 {
    margin: inherit;
    text-align: center;
  }
  .parcourir .livre img {
    width: 100%;
    margin: 0 auto;
  }
  .parcourir .livre .texte {
    margin-bottom: 30px;
  }
  .parcourir .livre .texte h3 {
    padding: inherit;
  }
  .parcourir .livre .texte .paragraphe {
    text-align: left;
  }
  .parcourir .livre .texte .paragraphe p:nth-of-type(1) {
    float: inherit;
    width: 100%;
  }
  .parcourir .livre .texte .paragraphe p:nth-of-type(2) {
    float: inherit;
    width: 100%;
  }
  .parcourir .livre .texte .paragraphe a {
    font-size: 14px;
    padding: 10px 5px;
  }
  /*CARNET DE VOYAGE*/
  .carnet .center {
    margin: inherit;
  }
  .carnet .center img {
    width: 90%;
    margin: 0 auto;
  }
  .carnet .center .texte {
    width: 90%;
    margin: 0 auto;
  }
  .carnet .center .texte h3 {
    margin: 20px 0;
    text-align: center;
  }
  .carnet .center .texte .paragraphe {
    display: inherit;
  }
  .carnet .center .texte .paragraphe p:nth-of-type(1) {
    width: 100%;
  }
  .carnet .center .texte .paragraphe p:nth-of-type(2) {
    width: 100%;
  }
}
/*------------------------------- MEDIA QUERY 475px -----------------------------*/
@media screen and (max-width: 475px) {
  /*------------RECURRENT---------------------*/
  .center {
    width: 100%;
    padding: inherit;
  }
  /*HEADER*/
  header .citation h1:before {
    left: 55px;
  }
  header .citation h1:after {
    right: 135px;
    bottom: -10px;
  }
}
/*------------------------------- MEDIA QUERY 425px ----------------------------*/
@media screen and (max-width: 425px) {
  /*------------RECURRENT---------------------*/
  .center {
    width: 100%;
    padding: inherit;
  }
  h2 {
    font-size: 30px;
    padding: 30px 0;
  }
  h3 {
    font-size: 24px;
  }
  /*HEADER*/
  header .mots p:nth-child(2) {
    padding: 0 0 0 60px;
    font-size: 46px;
  }
  header .mots p:nth-child(4) {
    padding: 0 0 0 50px;
  }
  header .citation h1:before {
    top: -10px;
    left: 30px;
  }
  header .citation h1:after {
    right: 110px;
    bottom: -10px;
    left: inherit;
  }
  /*FOOTER*/
  footer .contenu {
    width: 100%;
  }
  footer .contenu .left {
    position: relative;
    margin: 10px 20px;
    flex-direction: column;
  }
  footer .contenu .left ul {
    width: 100%;
  }
  footer .contenu .left ul li {
    list-style-type: none;
    transition: background-color 0.5s;
  }
  footer .contenu .left ul li:hover {
    background-color: #260b01;
  }
  footer .contenu .left ul li.deroulant:before {
    display: inline-block;
    content: '\f150';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-right: 15px;
    line-height: 1;
    transition: transform 0.5s;
    position: absolute;
    right: 20px;
    transform: rotate(90deg);
  }
  footer .contenu .left ul li.open {
    color: #f2e7dc;
  }
  footer .contenu .left ul li.open:before {
    transform: rotate(0deg);
  }
  footer .contenu .left ul a {
    display: block;
    color: #8b5c4a;
  }
  footer .contenu .right {
    width: 100%;
    padding: inherit;
  }
  footer .contenu .right .newsletter {
    margin-bottom: inherit;
    text-align: center;
  }
  footer .contenu .right .newsletter form input {
    float: inherit;
  }
  footer .contenu .right .reseaux {
    text-align: center;
  }
  /* SCROLLTOP*/
  a#scrolltop {
    font-size: 30px;
    position: fixed;
    bottom: 65px;
    right: 40px;
    left: inherit;
    color: #bfa994;
    transition: bottom 0.4s, color 0.4s;
    display: none;
  }
  a#scrolltop:hover {
    transform: scale(0.9);
    color: #8b5c4a;
  }
}
/*------------------------------- MEDIA QUERY 375px ----------------------------*/
@media screen and (max-width: 375px) {
  /*------------RECURRENT---------------------*/
  .center {
    width: 100%;
    padding: inherit;
  }
  h2 {
    font-size: 30px;
    padding: 30px 0;
  }
  h3 {
    font-size: 24px;
  }
  /*HEADER*/
  header .citation h1:before {
    left: 5px;
  }
  header .citation h1:after {
    right: 85px;
  }
}
